%p{:style => "color: green"}= notice

= link_to "ツイート", new_post_path, class: 'btn btn-primary mb-3'

#posts
  - @posts.each do |post|
    .card.mb-3
      .card-body
        = render post
        %p.mb-0
          = link_to "詳細", post