%p{:style => "color: green"}= notice

= link_to "ツイート", new_post_path, class: 'btn btn-primary mb-3'

#posts
  - @posts.each do |post|
    .card.mb-4
      .card-body
        = render post
        %p
          = link_to "Show this post", post