%p{:style => "color: green"}= notice

#posts
  - @posts.each do |post|
    .card.mb-4
      .card-body
        = render post
        %p
          = link_to "Show this post", post
= link_to "New post", new_post_path
