%p{:style => "color: green"}= notice
.card
  .card-body
    = render @post
.d-flex
  = link_to "編集", edit_post_path(@post), class: 'btn btn-link'
  = button_to "削除", @post, method: :delete, class: 'btn btn-link text-danger'
